/****************
    RESET
****************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/****************
    COMMON
****************/
.container {
    max-width: 1200px;
    margin: auto;
}
.row {
    display: flex;
}

/****************
    TYPE
****************/
* {
    font-family: 'Roboto', sans-serif;

}
/****************
    HEADER
****************/
header {
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index: 100;
    background-color: #ff6900;

}
.tab {
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 10px;
}
.col-big {
    width: 70%;
    text-align: center;
}
.col-small {
    width: 15%;
}
.col-small a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}
header img {
    width: 130px;
    height: 30px;
}
.tab :last-child {
    text-align: right;
}

/****************
    MAIN
****************/
main .container{
    margin-top: 50px;
}
article {
    width: calc(100% /3 - 20px);
    margin: 0 10px;
}
main .row  {
    flex-wrap: wrap;
}
main .container {
    padding-top: 50px;
}
.immagine img {
    display: block;
    max-width: 100%;
    max-height: 50%;
}
.immagine :nth-child(2) {
    display: none;
}
.immagine:hover > img {
    display: none;
}
.immagine:hover :nth-child(2) {
    display: block;
}
small {
    font-size: 10px;
}
h2 {
    font-size: 15px;
}
article span {
    vertical-align: top;
    margin-bottom: 50px;
}
#actual-price {
    color: red;
}
#previous-price {
    text-decoration: line-through;
}
.immagine {
    position: relative;
}
.heart {
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;

}
.heart i {
    color: black;
    height: 40px;
    width: 30px;
    line-height: 40px;
    text-align: center;
}
.heart:hover i {
    color: red;
}
.sconto {
    position: absolute;
    bottom: 30px;
    left: 0;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    font-size: 10px;
}
.sostenibilita {
    position: absolute;
    bottom: 30px;
    left: 45px;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    font-size: 10px;
}
#last {
    left: 0;
}
.description {
    margin-bottom: 30px;
}
/****************
    FOOTER
****************/
footer {
    background-color: #1a1a1a;
}
footer .container {
    margin-top: 30px;
}
h4 {
    color: white;
}
.info {
    padding: 20px 0;
}
.info ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.info ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding-right: 10px;
}
footer .row {
    justify-content: space-between;
    align-items: center;    
    padding: 10px 10px;
}
.social i {
    color: white;
    padding: 5px 5px;
}
.social h4 {
    padding-left: 7px;
}