/****************
    RESET
****************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/****************
    COMMON
****************/
.container {
    max-width: 1200px;
    margin: auto;
}
.row {
    display: flex;
}

/****************
    TYPE
****************/
* {
    font-family: 'Roboto', sans-serif;

}
/****************
    HEADER
****************/
header {
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index: 100;
    background-color: #ff6900;

}
.tab {
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 0;
}
.col-big {
    width: 70%;
    text-align: center;
}
.col-small {
    width: 15%;
}
.col-small a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}
header img {
    width: 130px;
    height: 30px;
}
.tab :last-child {
    text-align: right;
}

/****************
    MAIN
****************/
main .container{
    margin-top: 50px;
}
article {
    width: calc(100% /3 - 20px);
    margin: 0 10px;
}
main .row  {
    flex-wrap: wrap;
}
main .container {
    padding-top: 50px;
}
.immagine img {
    display: block;
    max-width: 100%;
    max-height: 50%;
}
p{
    margin-bottom: 30px;
}

/****************
    FOOTER
****************/


